# dependencies
node_modules

# next.js build output
.next
out

# production
build

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.*

# vercel
.vercel

# typescript
*.tsbuildinfo

# coverage
coverage

# lock files
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# vscode
.vscode/

# others
.idea/
*.swp

# Local Netlify folder
.netlify
