.container {
  text-align: center;
  p {
    font-size: 16px;
    color: var(--footer-text-color);
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 30px;
      }
    }
  }
}
