* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: transparent; /* Làm nền trong suốt */
  backdrop-filter: blur(10px); /* Làm mờ nền phía sau */
  transition: 0.3s ease, backdrop-filter 0.3s ease;
}

/* Khi cuộn xuống, navbar sẽ có nền */
.navbar.scrolled {
  background: var(--background-color); /* Màu nền đen với độ trong suốt */
  backdrop-filter: blur(0); /* Loại bỏ hiệu ứng làm mờ */
}

.colorMode {
  width: 25px;
}

.colorMode:hover {
  cursor: pointer;
}

.navbar-logo h2 {
  color: var(--text-color);
  margin-left: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.image {
  width: 40px;
  height: 40px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f4e04d;
}

/* Mobile menu toggle button */
.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}

/* Responsive styling */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .navbar-links.open {
    height: 250px;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image {
    width: 30px;
    height: 30px;
  }

  .colorMode {
    width: 18px;
  }
}
