.card {
  border-radius: 16px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

.cardHeader {
  border-radius: 16px 16px 0px 0px;
  position: relative;
  height: 40vh;
  overflow: hidden;
}

.cardHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  position: relative;
  bottom: 80px;
  max-width: 150px;
  align-self: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 20px 0 10px;
}

.description {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.shareButton,
.skipButton {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.shareButton {
  background: linear-gradient(to right, #ffa500, #ffcc33);
  color: white;
}

.shareButton:hover {
  transform: scale(1.05);
}

.skipButton {
  background: #f0f0f0;
  color: #666;
}

.skipButton:hover {
  transform: scale(1.05);
}

.link {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}
