.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}

.title {
  text-align: center;
  border-top: 1px solid rgb(182, 179, 179);
  padding: 10px 0;
  position: relative;
  font-size: 1.5rem;
}

.list {
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.item {
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.work-experiences {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 2px solid #4a4d4c;
  padding-left: 1rem;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .list {
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
}
